*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 1920px;
    max-height: 1080px;
    overflow-x: auto;   /*Permitir solo scroll horizontal*/
    overflow-y: hidden; 
}

.container {
    margin:0 auto;  /* centrado en pantallas >1440 */
    width: 1920px;
    padding: 0 120px 0 120px;
}

a {
    text-decoration: none;
    color:inherit;
}

ul, ol{
    list-style: none;
}

button {
    cursor: pointer;
}
