/*Variables de colores*/
$buttom-color:#DB2A6B;
$bg-color:#2B2D38;
$h1-color:#FFFFFF;
$p-color:#95969B;
$guy1-color:#6E1FED;
$guy2-color:#FF7E29;
$woman2-color:#F4B840;
$woman1-color:#60D3D9;
$woman3-color:#DB2A6B;
$square-color:#464751;
/*Tipografias*/
$pop:"Poppins", sans-serif;
$merri:"Merriweather", serif;
/*Espaciamientos*/
$top-pad:30px;
$left-pad:120px;
$right-pad:150px;
$canva-w:1440px;
$btn-padx:30px;

